/* Add your styles here */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body>main {
  width: 600px;
  height: 1000px;
  background-color: silver;
}

header nav ul {
  display: flex;
  justify-content: space-between;
}

header nav li {
  box-sizing: border-box;
  width: 25%;
  display: block;
  margin: 0.5em;
  padding: 0.5em;
  background-color: silver;
  color: black;
}

header,
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em;
  width: 100%;
  max-width: 1024px
}

main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

section,
aside {
  flex: 1;
  margin: 0 10px;
}