* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  background-color: lightgray;
  flex-direction: column;
  justify-content: stretch;
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
}

a {
  color: aquamarine;
}

body>header{
  background-color: black;
  padding: 0.5em;
  color: white;
  text-align: center;
}

body>main{
  display: flex;
  background-color: white;
  flex-wrap: wrap;
  min-height: 60vh;
  padding: 1em;
}

#itemsList{
  display: flex;
  flex-wrap: wrap;
}

food-item {
  background-color: lightgray;
  margin: 0.5em;
  padding: 1em;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}


body>footer{
  background-color: black;
  color: white;
  padding: 0.5em;
}